html[data-bs-theme="blue-theme"] {
    --bs-secondary-color: rgba(255, 255, 255, 0.70) !important;
    --bs-secondary-color-rgb: 255, 255, 255 !important;
    --bs-tertiary-color: rgba(255, 255, 255, 0.55) !important;
    --bs-tertiary-color-rgb: 255, 255, 255 !important;
}
